
.dropdown-content{
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  height:150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-item:hover .dropdown-content {
  display: block;
}
.nav-item:hover .nav-link{
  color: blue;
}
.navbar{
  position: fixed;
  z-index: 1;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

#navbarSupportedContent{
    padding-left: 150px;
}

#login{
   padding-left: 250px;
}
#contact{
  padding-left:50px;
}
.dropdown{
  overflow: hidden;
  float:left;
}

.dropdown-content .header {
  background: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}







#ai{

  height:600px;
  background-color: rgb(37, 10, 56);
}
.content{
  width:670px;
  padding-top:240px;
  color: white;
  padding-left:20px;
}





#logo {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(12, minmax(300px, 1fr));
  grid-column-gap:10px;
  grid-row-gap: 20px;
  overflow-x: hidden;
  background-color: white;
}

.items{
 
  animation: moving 30s infinite linear;
  align-items: center;
  overflow: hidden;

}

@keyframes moving {
  0% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(-450px, 0)
  }
  100% {
    transform: translate(-900px, 0)
  }
}

#container1{
  background-color: rgb(247, 242, 243);
  height:500px;
  padding-top:150px;
}
#container11{
   border-radius:30px;
   height:250px;
   padding-top: 60px;
   padding-left:40px;
   color: rgb(70, 23, 70);
}
a{
  text-decoration: none;
}

#container4{
  background-color: rgb(247, 242, 243);
  height:500px;
}











 
