<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce711619106017/style.css" />
    <title>Employer Login</title>
  </head>
  <body>
    <script src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce711619106017/hide.js"></script>
   
    <div class="container">
      <div class="forms-container">
        
        <div class="signin-signup">
          
          
          
          <form action="/login1" class="sign-in-form" method="post">
            
            <h2 class="title">EMPLOYER LOG IN
              
            </h2>
            <div class="cont">
              <h6 id="box">
                {{mesg}}
              </h6>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" / name="email" required>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" / name="password"required>
            </div>
            <input type="submit" value="Login" class="btn solid"/>



            
            
          </form>
          
                 
          <form action="/register1" class="sign-up-form" method="post" name="sign">
            <h2 class="title">REGISTER</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Companyname" / name="username" required>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" / name="email" required>
            </div>
            <div class="input-field">
              <i class="fa fa-phone"></i>
              <input type="tel" placeholder="Contact" / name="phone" required>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" / name="password" required>
            </div>
            <input type="submit" class="btn" value="Sign up" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3 id="changeText">Register Your Company details to post a Job?
              </h3><br>
           
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce711619106017/1.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel"`>
          <div class="content">
            <h3 id="changeText1"> 
           
            </h3> <br>
            <p style="font-weight:600;">
              Already have an account?
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce711619106017/2.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    
    <script src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce711619106017/app.js"></script>
  </body>
</html>